<!DOCTYPE html>
<html>
<head>
  <title>MyMapApp</title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <meta name="google-maps-api-key" content="<%= Rails.application.credentials.google_maps_api_key %>">
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
  <%= javascript_importmap_tags %>
</head>
<body>
  <%= yield %>
</body>
</html>